html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

:root {
  --content-max-width: 800px;
  --content-horizontal-paddings: 2rem;
  --sidebar-max-width: 240px;
  --page-max-width: 1600px;
  --breakpoints-mobile: calc(var(--content-max-width) + var(--sidebar-max-width) * 2);
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  max-width: var(--page-max-width);
  overflow: hidden;
}

.page__pages-list,
.page__table-of-content {
  min-width: var(--sidebar-max-width);
  overflow-y: scroll;
  font-size: 0.8rem;
}

.page__pages-list {
  order: 1;
}
.page__table-of-content {
  order: 3;
}
.page__content {
  order: 2;
  max-width: var(--content-max-width);
  width: 100%;
  overflow-y: scroll;
  padding: 0 var(--content-horizontal-paddings);
}

.pages-list__header {}
.pages-list__list {}
.pages-list__item {}
.pages-list__item-link {}

.table-of-content__header {}
.table-of-content__header-link {}
.table-of-content__item {}
.table-of-content__item-link {}


.page__content img {
  width: 100%;
  background: white;
  padding: 2rem;
}

.page__content hr {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page__content hr:after {
  display: inline-block;
  content: '---';
  color: var(--text-color);
  opacity: .5;
}

hr + hr {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert() hue-rotate(200deg);
    background: white;
  }

  .page__content img {
    filter: invert() hue-rotate(-200deg);
  }
}

@media only screen and (max-width: 1240px) {
  .page {
    flex-direction: column;
    justify-content: normal;
    overflow-y: unset;
  }

  .page__table-of-content,
  .page__content,
  .page__pages-list {
    overflow-y: unset;
  }

  .page__table-of-content {
    order: 1;
  }

  .page__content {
    order: 2;
    max-width: 100%;
  }
}

pre {
  width: 100%;
  overflow-x: scroll;
}
